@page
@model Lab1Final.Pages.ManageGrants.ManageGrantsModel
@{
    ViewData["Title"] = "Manage Grants";
}

<h2 class="mb-4">Manage Grants</h2>


PUT THE ACTIVE GRANTS HERE

<br />
<br />


<a href="@Url.Page("/ManageGrants/NewGrant")" class="btn btn-primary mt-3">Create New Grant</a>