@page
@model Lab1Final.Pages.Admin.AdminHomeModel
@{
}

this is the home page for admins

<br />

<button onclick="window.location.href='/NewUser/NewUser'" class="btn btn-secondary mt-3">New User</button>

<button onclick="window.location.href='/SysUser/SysUser'" class="btn btn-secondary mt-3">View All Users</button>