@page
@model Lab1Final.Pages.ManageProjects.ManageProjectsModel
@{
}

<h2 class="mb-4">Manage Projects</h2>


PUT THE ACTIVE Projects HERE

<br />
<br />


<a href="@Url.Page("/ManageProjects/NewProject")" class="btn btn-primary mt-3">Create New Project</a>